.section1_1{
  text-align: center;
  border-radius: 10px;
  margin: auto;

  height: 100px;
 margin-top: 20px;

 display: flex;
 align-items: center;
 justify-content: center;
}

.section1_1 h1 {
  font-size: 30px;
}

.flex_s11 {
  border-radius: 10px;
  background-color:  #FFD073;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: inherit;
  max-width:1200px;
  width: 100%;
  /* background: #bbbbbb; */
  margin: auto;
}


